

<div class="administracion-layout">
  <header class="administracion-header">
    <div class="administracion-header-left">
      <a
        routerLink="/inicio"
        class="administracion-back"
        (click)="volverSitioPublico($event)">← Volver al sitio público</a>
      <h1 class="administracion-title">Administración CIVIME</h1>
    </div>
    <div class="administracion-user-actions">
      <div class="administracion-user">
        <span class="administracion-user-label">Usuario:</span>
        <strong>{{ usernameLogueado }}</strong>
      </div>
      <button
        mat-flat-button
        type="button"
        class="administracion-logout-btn"
        aria-label="Logout"
        (click)="volverSitioPublico($event)">
        Salir
      </button>
    </div>
  </header>

  <mat-tab-group
    class="administracion-tabs"
    animationDuration="200ms"
    dynamicHeight>
    <mat-tab label="Publicidad">
      <ng-template matTabContent>
        <app-admin-publicidad />
      </ng-template>
    </mat-tab>
    <mat-tab label="Cursos">
      <ng-template matTabContent>
        <app-admin-cursos />
      </ng-template>
    </mat-tab>
    <mat-tab label="Estadística">
      <ng-template matTabContent>
        <app-admin-estadistica />
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
