<div fxLayout="column"
style="display: flex;  align-items: center; height: 100vh; background-image: url('assets/12.png'); background-size: cover;">


<!-- <div class="container-principal">
  <div class="column1"></div>
  <div class="column2">
    <div class="titulo-c2">
      <h2>Galeria de Imagenes </h2> </div>
    <div class="grid">
  <div *ngFor="let img of imagenes" class="rounded-xl shadow p-3 text-left">
    <img [src]="urls[img.idImagen]" alt="{{img.nombre}}"
         class="w-full h-48 object-cover rounded-xl" />
    <p style="font-weight: bold;">Descripcion Imagen: .....</p>
    <p style="font-weight: bold; color: rgb(24, 0, 131);">Fecha Registrado:{{ img.fechaSubida |date :"dd-MM-yyyy"}}</p>

  </div>
</div>

  </div>
</div> -->

</div>
